:root {
    --scrollbar-width: 10px;
    scroll-behavior: smooth;
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--primary) transparent;
}

body {
    overflow: overlay;
}


::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    width: var(--scrollbar-width);
    background: var(--primary);
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}